<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>718681759794-htokgck4caqj3a7gvolq93v51knfmi5k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.718681759794-htokgck4caqj3a7gvolq93v51knfmi5k</string>
	<key>API_KEY</key>
	<string>AIzaSyCvg71P0BFF6efO_5FZ3eeu3QQbio-oZKY</string>
	<key>GCM_SENDER_ID</key>
	<string>718681759794</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mfntreadstone</string>
	<key>PROJECT_ID</key>
	<string>operationtreadstone-24753</string>
	<key>STORAGE_BUCKET</key>
	<string>operationtreadstone-24753.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:718681759794:ios:29531830f4ee98fcad1c2b</string>
</dict>
</plist>